body {
  padding-top: 2rem;
}

.base-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

td.selected {
  background-color:#B0BED9
}

select {
    cursor: pointer;
}

.help {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 99;
    width: 30rem;
}

.scroll {
    max-height: 20rem;
    overflow-y: auto;
}

.custom-col > label,
.custom-col > div.input-group{
    display: inline-block;
}